<div class="navbar-expand md border-bottom mb-3">
  <div class="conatiner">
    <ul class="nav justify-content-center">
      <li class="new-item">
        <a class="nav-link text-secondary p-3 mb-2 bg-primary-subtle text-emphasis-primary fw-semibold" routerLink="/home" routerLinkActive="text-dark">Home</a>
      </li>
      <li class="new-item">
        <a class="nav-link text-secondary p-3 mb-2 bg-secondary-subtle text-emphasis-secondary fw-semibold" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
      </li>
      <li class="new-item">
        <a class="nav-link text-secondary p-3 mb-2 bg-success-subtle text-emphasis-success fw-semibold" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
      </li>
      <li class="new-item">
        <a class="nav-link text-secondary p-3 mb-2 bg-danger-subtle text-emphasis-danger fw-semibold" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
      </li>

    </ul>
  </div>
</div>
